{
  "plugins": [
    ["prismjs", {
        "languages": ["javascript", "css", "html", "python", "ruby", "java", "php","c", "cpp", "sh", "go"],
        "plugins": ["line-numbers"],
        "theme": "okaidia",
        "css": true
    }]
  ]
}